.full-width{
    width: 55%;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.text-center{
    text-align: center;
}
form{
  height: 450px;
}

mat-form-field{
  width: 450px;
}
